@page
@model CustomerDatabase.Pages.Customers.IndexModel
@*Written by: Paul Smyth. Date 31/1/18. Version 1.0*@

@{
    ViewData["Title"] = "List";
}

<h2>Customer List</h2>

<p>
    <a asp-page="Create">Create New Customer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Town)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Postcode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customer)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Town)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Postcode)
                </td>
                <td>
                    @*Not required*@
                    @*<a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |*@
                    @*<a asp-page="./Details" asp-route-id="@item.ID">Details</a> |*@
                    @*<a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
